.react-responsive-modal-modal {
  padding: 3rem 2rem !important;
  border-radius: 3px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .react-responsive-modal-modal {
    padding: 1rem 0.5rem !important;
  }
}
